<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title%>
    </title>
    <link rel="stylesheet" href="/css/home.css">
    <script src="https://use.fontawesome.com/22229568fd.js"></script>
</head>
<body>
    <span id="icon">
    <i class="fa fa-address-card"></i>
    </span>
    <h1 style="display: inline;">Contact List</h1>

    <ul>
        <% for( let i of contact_list){ %>
            <li id="contact">
                <span class="inner-text" style="float:left"><%= i.name %></span>
                <span class="inner-text" style="float:right"><%= i.phone %></span>
            </li>
        <% } %>
    </ul>

    <form action="/create-contact" method="post">
        <div>
            <input type="text" name="name" id="">
            <input type="number" name="phone" id="">
            <button type="submit">Add contact</button>
        </div>
    </form>
<script type="text/javascript" src="/js/home.js"></script>

</body>
</html>