body {
    text-align: center;
    font-family: sans-serif;
}
    #contact:hover{
    background: grey;
}
#contact {
    color:#fff;
    background:#2676B2;    
    margin: auto;
    margin-bottom: 3px;
    width: 40%;
    height: 30px;

}

.inner-text{
    padding: 7px;
}
form input{
    border:none;
    border-bottom: 1px solid black;

}
form button{
    background:grey;
    color: #fff;
    margin-left: 50px;
}
#icon {
    font-size: 45px;
}
